.dashboard {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1500px;
  min-width: 960px;
  width: 90vw;
  height: 470px;
}
